
{% assign certs = site.data.certifications %}

<!-- Resume -->
<div class="content resume">

	{{ if certs.title != '' }}
	<!-- title -->
	<div class="title">{{ certs.title }}</div>
	{{ endif }}

	<!-- content -->
	<div class="row">


		<!-- certifications -->
		<div class="col col-d-12 col-t-12 col-m-12 border-line-v">

			{% assign grouped = certs.items | group_by:"institution" %}
			{% for group in grouped %}
			{% assign matching_institution = group.items | where:"institution", group.name %}
			<div class="resume-title border-line-h">
				<div class="icon"><i class="ion ion-{{ matching_institution[0].institution_label }}"></i></div>
				<div class="name">{{ group.name }}</div>
			</div>
			<div class="resume-items">
				{% for certificationGroupItems in group.items | sort: 'year' | reverse  %}
				<div class="resume-item{% if item.h_line == 1 %} border-line-h{% endif %} active">
					<div class="row">
						<div class="col col-d-4 col-t-4 col-m-12">
							<div class=" centre-image">
								<img width=160 src="assets/img/certification/{{ certificationGroupItems.image }}" />
							</div>
						</div>
						<div class="col col-d-8 col-t-8 col-m-12">
							<div class="name"><i class="ion ion-{{ certificationGroupItems.institution }}"></i> {{ certificationGroupItems.title }}</div>
							<div class="company">
								{% for item in certificationGroupItems.descriptions %}
								<p>{{ item }}</p>
								{% endfor %}
							</div>
							<div class="date">{{ certificationGroupItems.year }}</div>
							<div class="date"><a target="_blank" href="{{certificationGroupItems.link}}">Validate</a></div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		{% endfor %}
		</div>
		<div class="clear"></div>
	</div>

</div>