
{% assign certs = site.data.certifications %}

<!-- Resume -->
<div class="content resume">

	{{ if certs.title != '' }}
	<!-- title -->
	<div class="title">{{ certs.title }}</div>
	{{ endif }}

	<!-- content -->
	<div class="row">


		<!-- certifications -->
		<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
			<div class="resume-title border-line-h">
				<div class="icon"><i class="ion ion-{{ certs.icon }}"></i></div>
				<div class="name">{{ certs.title }}</div>
			</div>
			<div class="resume-items">
				{% assign sorted_items = certs.items | sort: 'year' | reverse %}
				{% for cert in sorted_items %}
				<div class="resume-item{% if item.h_line == 1 %} border-line-h{% endif %} active">
					<div class="row">
						<div class="col col-d-4 col-t-4 col-m-12">
							<div class=" centre-image">
								<img width=160 src="assets/img/certification/{{ cert.image }}" />
							</div>
						</div>
						<div class="col col-d-8 col-t-8 col-m-12">
							<div class="name"><i class="ion ion-{{ cert.institution }}"></i> {{ cert.title }}</div>
							<div class="company">
								{% for item in cert.descriptions %}
								<p>{{ item }}</p>
								{% endfor %}
							</div>
							<div class="date">{{ cert.year }}</div>
							<div class="date"><a target="_blank" href="{{cert.link}}">Validate</a></div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="clear"></div>
	</div>

</div>